form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h1 {
  font-size: 40px;
  margin-top: 90px;
  margin-bottom: 100px;
}

label {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

input {
  height: 28px;
  margin-bottom: 55px;
  border-radius: 8px;
  border-width: 2px;
}

button {
  background-color: red;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  border-radius: 12px;
}

button:hover {
  color: white;
  background-color: black;
}