</head>
<body>
<nav>
  <% if (user) { %>
      <div class="sign-out">
        <h3>Logged in as <%= user.username %>!</h3>
        <a href="/auth/sign-out">Sign out</a>
      </div>
      <div>
        <a href="/users/<%= user._id %>">My Collection</a>
      </div>
      <div>
        <a href="/users">Users Collections</a>
        <a href="/games/new">Add Games</a>
        <a href="/games">Games</a>
      </div>
    <% } else { %>
      <div>
        <a href="/auth/sign-up">Sign up</a>
        <a href="/auth/sign-in">Sign in</a>
      </div>
      <div>
        <h2>Please sign in!</h2>
      </div>
      <div>
        <a href="/games">Games</a>
      </div>
  <% } %>
</nav>