<%- include('./partials/html-head') %>
</head>
<body>
<nav>
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <a href="/auth/sign-out">Sign out</a>
    <a href="/users">Users</a>
    <a href="/users/<%= user._id %>">My Collection</a>
    <a href="/games/new">Add Games</a>
    <a href="/games">Games</a>
    <% } else { %>
      <h1>Please sign in!</h1>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>      
      <a href="/games">Games</a>
  <% } %>
</nav>
<%- include('./partials/footer') %>
