body {
  /* background-color: #070707; */
  margin: 0;
  /* color: #ebebd3; */
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
}

body > nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}