<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/new.css">
<%- include('../partials/nav') %>
<main>
  <h1>Add Games</h1>
  <form id="new-form" action="/games" method="POST">
    <label for="game-title">Game Title</label>
    <input type="text" name="gameTitle">
    <label for="release-date">Release Date</label>
    <input type="text" name="releaseDate">
    <label for="console">Console</label>
    <select name="console" id="console">
      <option value="PC">PC</option>
      <option value="PS5">PS5</option>
      <option value="Xbox Series X/S">Xbox Series X/S</option>
      <option value="Switch">Switch</option>
      <option value="Xbox One">Xbox One</option>
      <option value="PS4">PS4</option>
      <option value="Wii U">Wii U</option>
      <option value="Wii">Wii</option>
      <option value="PS3">PS3</option>
      <option value="Xbox 360">Xbox 360</option>
      <option value="Xbox">Xbox</option>
      <option value="GameCube">GameCube</option>
      <option value="PS2">PS2</option>
      <option value="Dreamcast">Dreamcast</option>
      <option value="N64">N64</option>
      <option value="PSOne">PSOne</option>
      <option value="SNES">SNES</option>
      <option value="Genesis">Genesis</option>
      <option value="NES">NES</option>
    </select>
    <button type="submit">Add Game</button>
  </form>
</main>
<%- include('../partials/footer') %>