body {
  background-color: #28afb0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h1 {
  font-size: 40px;
  margin-top: 90px;
  margin-bottom: 100px;
}

label {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

input {
  text-align: center;
  height: 28px;
  margin-bottom: 55px;
  border-radius: 8px;
  border-width: 2px;
}

select {
  text-align: center;
  height: 28px;
  width: 120px;
  margin-bottom: 55px;
  border-radius: 8px;
  border-width: 2px;
}

button {
  background-color: #9d79cc;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  border-radius: 12px;
}

button:hover {
  color: black;
  background-color: #f5d547;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #9d79cc;
  border-radius: 6px;
}